{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <title>Wish List</title>
</head>
<body>
  <h1>Wish List Items</h1>
  {% if whishes.count %}
    <table>
      <thead>
        <tr>
          <th>Description</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        {% for wish in wishes %}
          <tr>
            <td>{{ wish.description }}</td>
            <td><a href="{% url 'delete_wish' wish.id %}">X</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <h3>No Wish Items Exist</h3>
  {% endif %}
  <hr>
  <a href="{% url 'add_wish' %}"><button>Add A Wish Item</button></a>
</body>
</html>